[submodule "pandas-website"]
	path = pandas-website
	url = https://github.com/pandas-dev/pandas-website
[submodule "pandas-feedstock"]
	path = pandas-feedstock
	url = https://github.com/conda-forge/pandas-feedstock
[submodule "pandas-wheels"]
	path = pandas-wheels
	url = https://github.com/MacPython/pandas-wheels
[submodule "pandas"]
	path = pandas
	url = https://github.com/pandas-dev/pandas
